p {
    color:blue;
}

h1 {
    color: green;
    font-family: 'Times New Roman', Times, serif
    }

nav {
    border-style: dotted;
    border-color:red;
    background-color:rgba(255,0,0,0.5);
}


 .montagne {
    margin-bottom: 200px;
    padding-top:50px;
    
 }

 #image {
     height : 200px;
     width : 200px;
 }

 #image::after {
    margin-bottom: 50px;
}
